# General
.DS_Store
*.log
tmp/

# Editor
.vscode/
!.vscode/extensions.json
!.vscode/tasks.json

# Environment Secrets (CRITICAL)
.env
**/.env
web/.env

# Dependencies
node_modules/
__pycache__/
venv/
*.pyc

# Runtime Data
backups/
logs/
b7s_workspace/
installers/
